@page
@model RestaurantBookingSystemOfficial.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].GuestID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.PaymentID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
